@model IEnumerable<BOL.tbl_EVENEMENT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lattitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.longittude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_MENACE.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_PRIORITE_EVENEMENT.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_TYPE_EVENEMENT.nom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>
            @Html.DisplayFor(modelItem => item.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lattitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.longittude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_MENACE.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_PRIORITE_EVENEMENT.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_TYPE_EVENEMENT.nom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
