@model BOL.tbl_POI

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_POI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.addresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.communeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.communeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isVulnerable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isVulnerable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lattitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lattitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_POI_TYPE.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_POI_TYPE.nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
